[package]
name = "oxidux"
version = "0.1.0"
authors = ["Jonathan Mast <jon@jonmast.com>"]
edition="2018"

[dependencies]
futures = "0.1.14"
tokio = "0.1"
tokio-core = "0.1"
tokio-io = "0.1"
tokio-process = "0.2.2"
tokio-uds = "0.2.1"
tokio-codec = "0.1"
tokio-signal = "0.2.7"
hyper = "0.12.0"
url = "1.6.0"
toml = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
clap = "2.32"
nix = "0.11"
dirs = "1.0"
ansi_term = "0.9"
shellexpand = "1.0"
failure = "0.1.5"
listenfd = "0.3.3"
